<h1>Enter the amount you would like change for:</h1>
<form action='change' method='post'>
   <div class="form-group">
    <label for="change">Please enter the amount to make change</label>
    <input id="change" name="change" class="form-control" type="number" step="0.01">
  </div>
  <button type="submit" class="btn">Calculate</button>
</form>
